.board{
  width: 750px;

  margin: 20px auto;
  padding: 0;
  line-height: 0;

}

.cell{
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  margin-left: -1px;
  margin-bottom: -1px;
}
